<style>
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Montserrat|Roboto&display=swap');
</style> 

    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;

body{
    overflow: hidden;
    background: #133c68;
}

#head-nav{
    background: #1e90ff;
    display: flex;
    justify-content: end;
    height: 35px;
    align-items: center;
}
#head-nav .col-sm-12{
    text-align: right;
    height: auto;
}
#head-nav .col-sm-12 a{
    margin-right: 50px;
    text-align: right;
    padding: 10px 0px 10px 0px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-box-pack: justify;
}
#head-nav i{
    margin: 0px 2px 0px 0px;
}
/* navbar */
nav{
    font-family: 'Montserrat', sans-serif;
    background: #f6f2f1;
    -webkit-transition: all 0.4s ease;
    position: -webkit-sticky;
}
nav ul{
    flex: auto;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    padding: 0px 10px 0px 10px;
    display: block;
}
nav ul li {
    margin: 0px 10px 0px 10px;
}
nav ul li i{
    font-size: 10px;
}
nav ul li #beranda{
    text-decoration: none;
    color: #f368e0;
}
nav ul li #produk{
    text-decoration: none;
    color: #1dd1a1;
}
nav ul li #kontak{
    color: #ee5253;
    text-decoration: none;
}
nav ul li #bisnis{
    text-decoration: none;
    color: #ff9f43;
}
nav ul li .menu-button{
    text-decoration: none;
    color: #2e86de;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
nav ul .right-menu{
    position: relative;
    display: inline-block;
    float: right;
}
nav ul .dropdown-menu{
    display: none;
    border-radius: none;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
    margin-top: -1px;
    text-align: left;
    padding: 10px 0px 15px 0px;
    background: transparent;
}
nav ul .dropdown-menu .bg{
    background-color: #f1f2f6;
    padding: 10px 0 0 0;
    margin: 5px 0 0 0;
    border-radius: 0px 0px 5px 5px;
}
nav ul .dropdown-menu a{
    padding: 5px 15px 5px 15px;
    color: #000;
    margin: 5px 0 0 0;
}
nav ul .dropdown-menu a:hover{
    color: #2e86de;
    /* background: #1e90ff; */
    width: 100%;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
}
nav ul .right-menu:hover .dropdown-menu{
    display: block;
    /* background: whitesmoke; */
    color: black;
    border: none;
}
nav ul li #resi{
    text-decoration: none;
    color: #5f27cd;
}
nav form input{
    width: 100%;
    position: relative;
    margin: 0;
}
nav form button{
    background: #1e90ff;
    border-radius: 50px;
    border: none;
    outline: none;
    height: 38px;
    width: 38px;
    justify-content: center;
    margin: 0;
}
nav form button i{
    font-size: 18px;
    color: white;
}




#keranjang{
    padding: 20px 0px 20px 0px;
    background: #1e8fff5d url(../img/Untitled-1.png);
    background-size: cover;
}
#keranjang .container{
    background: white;
    border-radius: 10px;
}
#small .small-img img{
    cursor: pointer;
    height: 70px;
    display: block;
    margin: 10px 0;
    opacity: .6;
}
#small .small-img img:hover{
    opacity: 1;
}
#small .small-img{
    float: right;
    justify-content: end;
    width: 100%;
    margin: 10px 0;
}
#small .big-img img{
    height: 500px;
}
#small .big-img{
    float: right;
    padding: 10px ;
    display: flex;
    overflow: hidden;
    justify-content: center;
}
#nav-box{
    margin: 10px 0px 0px 0px;
}
#nav-box nav .nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    color: #1e90ff;
    font-family: 'Montserrat', sans-serif;
    transition: .1s ease-in-out;
}
#nav-box nav .nav a:active{
    color: wheat;
}

#title-produk{
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#title-produk h1{
    font-size: 34px;
    color: #2f3542;
    font-family: 'Open Sans', sans-serif;
}
#title-produk i{
    font-size: 20px;
    color: hotpink;
}
#title-produk i:hover{
    color: rgb(236, 15, 126);
}
#harga{
    padding: 0px 0px 40px 0px;
}
#harga h3{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
#harga h5{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#stok{
    padding: 0px 0px 40px 0px;
}
#stok h3{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
#stok h5{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
/* #warna{
    padding: 0px 0px 40px 0px;
}
#warna h3{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
#warna a{
    color: white;
    background: yellowgreen;
    padding: 5px 10px;
    text-decoration: none;
} */
#size{
    padding: 0px 0px 40px 0px;
}
#size h3{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

#select-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 5px 0;
}
#select-box .option-container{
    display: -moz-popup;
    background: transparent;    
    color: #2f3640;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 4px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;
    order: 1;
}
#selected{
    font-family: 'Lato', sans-serif;
    border-radius: 4px;
    margin-bottom: 4px;
    color: #2f3640;
    position: relative;
    border: 1px solid;
    order: 0;
}
.selected::after{
    content: '';
    background: url(../img/arrowcircledown_120108.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 24px;
    top: 5px;
    right: 18px;

    transition: all 0.4s;
}
#select-box .option-container.active{
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}
#select-box .option-container.active + .selected::after{
    transform: rotateX(180deg);
    top: -6px;
}
#select-box .option-container::-webkit-scrollbar{
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}
#select-box .option-container::-webkit-scrollbar-thumb{
    background: #525861;
    border-radius: 0 8px 8px 0;
}
#select-box .option, .selected{
    padding: 5px 20px;
    cursor: pointer;
}
#select-box .option:hover{
    background: #1dd1a1;
}
#select-box label{
    cursor: pointer;
}
#select-box .option .radio{
    display: none;
}


#warna{
    padding: 0px 0px 40px 0px;
}
#warna h3{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
#warna .col-sm-7{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#warna .warna{
    height: 20px;
    width: 20px;
    /* background: #1e90ff; */
    border-radius: 50px;
    margin: 5px;
    cursor: pointer;
    display: flex;
}
#warna .warna:nth-child(1){
    background: #f368e0;
}
#warna .warna:nth-child(2){
    background: green;
}
#warna .warna:nth-child(3){
    background: blueviolet;
}
#warna .warna:nth-child(4){
    background: red;
}
#warna .warna:nth-child(5){
    background: aqua;
}

#tombol{
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 40px 0px;
}
#tombol .col-sm-6{
    justify-content: center;
    display: flex;
}
#tombol button{
    font-size: 20px;
    background: #1e90ff;
    width: 100%;
    text-transform: uppercase;
    padding: 15px 0;
    border: none;
    outline: none;
    color: white;
    margin-top: 5px;
}
#tombol .beli:hover{
    background: #74b9ff;
}
#tombol .bag:hover{
    background: #115ba5;
}
@media (max-width: 768px){
    #small .small-img{
        display: flex;
        justify-content: center;
        margin-right: 10px;
    }
    #small .small-img img{
        margin: auto;
    }
}

.deskripsi-terkait .head-terkait{
    background: #dddddd38;
}
.deskripsi-terkait .head-terkait .title-terkait{
    padding: 10px 10px 0px 10px;
    font-size: 20px;
    font-weight: 500;
    height: auto;
    width: auto;
}
.deskripsi-terkait .head-terkait p{
    font-size: 16px;
    margin-top: 10px;
    padding: 0px 20px 20px 10px;
}


#terkait-komentar h3{
    font-size: 22px;
    margin: 20px 0px 20px 0px;
}
.komentar-terdahulu{
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
    margin-bottom: 20px;
    height: 250px;
    width: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
.komentar-terdahulu::-webkit-scrollbar{
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}
.komentar-terdahulu::-webkit-scrollbar-thumb{
    background: #525861;
    border-radius: 0 8px 8px 0;
}
.komentar-terdahulu .row .col-sm-2{
    display: flex;
    justify-content: center;
    padding: 5px 0px 0px 0px;
}
.komentar-terdahulu .row .col-sm-2 .pict-komentator{
    height: 50px;
    width: 50px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.komentar-terdahulu .row .col-sm-2 img{
    width: 50px;
    height: auto;
}
.komentar-terdahulu .row .col-sm-10 .komentator{
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin-bottom: 10px;
}
.komentar-terdahulu .row .col-sm-10 .deskripsi-komentar{
    font-size: 14px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
}
.komentar-terdahulu .row .col-sm-10 .tanggal-komentar{
    font-size: 12px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

footer{
    margin: 0px 0px 0px 0px;
    background: #f1f2f6;
}
footer .col-sm-4{
    flex-wrap: wrap;
    margin: 20px 0px 20px 0px;
}
footer .col-sm-4 h4{
    font-weight: 550;
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 5px 0px;
    font-family: 'Montserrat', sans-serif;
    color: #2f3542;
}
footer .col-sm-4 a{
    color: #747d8c;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

}
footer .col-sm-4 a i{
    color: #2f3542;
    padding: 0px 5px 0px 0px;
}
footer .col-sm-4 img{
    height: 30px;
    margin: 0px 20px 0px 0px;
}
footer .col-sm-4 input{
    font-family: 'Roboto', sans-serif;
    max-width: 270px;
    outline: none;
    border: none;
    margin: 0px 0px 10px 0px;
    background: white;
}
footer .col-sm-4 button{
    background: #2e86de;
    font-family: 'Montserrat', sans-serif;
    color: white;
    outline: none;
    border: none;
    height: 40px;
    padding: 0px 20px ;
    border-radius: 5px;
}
footer .col-sm-4 button:hover{
    background: #115ba5;
}
#brandkategori .right{
    columns: 2;
    overflow: visible;
}
#template{
    padding: 10px 0 0 0;
    font-family: 'Roboto', sans-serif;
}
#template .col-sm-12 p{
    font-size: 12px;
    color: #000;
    text-align: center;
}
#template .col-sm-12 a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

.badges{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50px;
    background: #1e90ff;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 20px rgb(146, 144, 255);
    /* transition: background 0.2s; */
    cursor: pointer;
    z-index: 1;
}
.badges:hover{
    background: #115ba5;
}
.badges i{
    font-size: 24px;
    color: white;
}
@media (max-width: 768px){
    .badges{
        bottom: 10px;
        right: 10px;
        opacity: .6;
    }
}


#body-basket img{
    height: 100px;
}
#head-basket{
    background: #f1f2f6;
    margin: 10px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px 10px  0px 0px;
}
#head-basket .col-sm-5 label{
    font-size: 18px;
    font-weight: 550;
}
#head-basket h5{
    font-size: 18px;
    font-weight: 550;
    color: #979797;
}

#basket{
    background: #1e8fff5d url(../img/Untitled-1.png);
    background-size: cover;
    margin: 0;
    padding: 10px;
}
#body-basket{
    background: #f1f2f6;
    margin: 10px;
    padding: 10px 0px 10px 0px;
    align-items: center;
    display: flex;
    border-radius: 0;
}
#body-basket .col-sm-5, #body-basket .col-sm-3, #body-basket .col-sm-2, #body-basket .col-sm-2 {
    margin-top: 10px;
}
#body-basket .col-sm-5 .custom-control{
    display: flex;
    align-items: center;
}
#body-basket .col-sm-5 .custom-control img{
    margin: 0px 10px;
}
#body-basket .col-sm-5 .custom-control p{
    font-size: 16px;
    color: black;
    font-weight: 550;
    font-family: 'Open Sans', sans-serif;
}
#body-basket .col-sm-2 .warna{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: blueviolet;
}
#body-basket h3{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #1e90ff;
}
#body-basket a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: grey;
}
#body-basket a:hover{
    color: rgb(75, 74, 74);
}
#body-basket .checkbox img{
    margin: 0px 10px;
}
#body-basket .col-sm-2 .custom-control input{
    display: none;
    -webkit-appearance: none;
}





#chekout{
    background: #f1f2f6;
    margin: 10px;
    padding: 10px 0px 10px 0px;
    align-items: center;
    display: flex;
    border-radius: 0px 0px 10px 10px;    
}
#total{
    text-align: end;
    /* background: greenyellow; */
}
#total i{
    font-size: 24px;
}
#total button{
    margin: 0px 0px 0px 10px;
    padding: 10px 30px;
}

#blank{
    display: flex;
    justify-content: start;
    height: 100%;
    width: 100%;
}
#blank p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}